/* GENERAL */

:root {
    color-scheme: dark;
  }
  
  #loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: black url("./photos/loading-gif.gif") no-repeat center center;
  }
  
  body {
    background-color: black;
  }
  
  hr {
    border-top: 1px solid #b8207c;
  }
  
  #totop {
    position: fixed;
    right: -100px;
    bottom: 15px;
    cursor: pointer;
  }
  
  #totop.active {
    transition-duration: 0.5s;
    right: 20px;
  }
  
  /* END GENERAL */
  
  /* HEADER */
  
  #canvas {
    z-index: 50;
    position: fixed;
    height: 100vh;
    width: 30vw;
    background-color: black;
    border-right: 1px solid;
    border-color: #b8207c;
    visibility: hidden;
  }
  
  nav {
    background-color: black;
    z-index: 6;
    border-bottom: 1px solid;
    border-color: #b8207c;
    position: fixed !important;
    top: 0 !important;
  }
  
  .navbar-brand:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
  }
  
  .navbar-brand:not(:hover) {
    transition: 0.3s ease-in-out;
  }
  
  .actlang {
    margin: 2px;
  }
  
  .lang {
    margin: 2px;
    opacity: 0.2;
  }
  
  .lang:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
  }
  
  .actlang:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
  }
  
  #burger {
    display: none;
  }
  
  #menuitems {
    visibility: visible;
  }
  
  /* END HEADER */
  
  /* HOME */
  
  #videoDiv2 {
    width: 100%;
    display: block;
    position: relative;
  }
  
  #video2 {
    width: 100%;
  }
  
  #videoMessage2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .greeting {
    color: #4aae7c;
  }
  
  .talksoon {
    color: #d0643e;
  }
  
  .myimage {
    opacity: 0.5;
    display: block;
    transform: rotate(8deg);
  }
  
  .myimage:hover {
    transform: scale(1.1) rotate(8deg);
    transition: 0.5s ease;
    opacity: 0.9;
    border: 2px solid;
    border-color: #b8207c;
  }
  
  .myimage:not(:hover) {
    transition: 0.5s ease;
  }
  
  /* END HOME */
  
  /* PROJECT */
  
  #projects {
    background-color: black;
  }
  
  .card {
    width: 100%;
    border: 2px solid;
    border-color: #b8207c;
    background-color: black;
  }
  
  /* END PROJECT */
  
  /* ABOUT */
  
  #about {
    background-color: black;
  }
  
  #bio {
    width: 100%;
    height: 80vh;
  }
  
  #pic-l {
    opacity: 0.7;
    transform: rotate(12deg);
  }
  
  #pic-r {
    opacity: 0.7;
    transform: rotate(-12deg);
  }
  
  #pic-l:hover {
    transform: scale(1.2) rotate(0deg);
    transition: 0.6s ease-in-out;
    opacity: 1;
    border: 2px solid;
    border-color: #b8207c;
  }
  
  #pic-l:not(:hover) {
    transform: scale(1) rotate(12deg);
    transition: 0.6s ease-in-out;
  }
  
  #pic-r:hover {
    transform: scale(1.2) rotate(0deg);
    transition: 0.6s ease-in-out;
    opacity: 1;
    border: 2px solid;
    border-color: #b8207c;
  }
  
  #pic-r:not(:hover) {
    transform: scale(1) rotate(-12deg);
    transition: 0.6s ease-in-out;
  }
  
  /* END ABOUT */
  
  /* CONTACT */
  
  #contact {
    background-color: black;
  }
  
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }
  
  .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  
  @media only screen and (max-width: 768px) {
    .styled-input {
      width: 100%;
    }
  }
  
  .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  
  .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  
  input,
  textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  
  input:focus,
  textarea:focus {
    outline: 0;
  }
  
  input:focus ~ span,
  textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }
  
  textarea {
    width: 100%;
    min-height: 15em;
  }
  
  .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  
  .submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #b8207c;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }
  
  @media (max-width: 768px) {
    .submit-btn {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  
  input[type="checkbox"] + label {
    color: #ccc;
    font-style: italic;
  }
  
  input[type="checkbox"]:checked + label {
    color: #f00;
    font-style: normal;
  }
  
  /* END CONTACT */
  
  /* FONTS */
  
  h1 {
    font-family:'Playfair Display', serif;
    z-index: 5;
    font-size: 65px;
    color: azure;
    cursor: context-menu;
  }
  
  h2 {
    color: #b8207c;
    font-family: 'Source Code Pro', monospace;
    cursor: context-menu;
  }
  
  h3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: larger;
    color: white;
  }
  
  h3:hover {
    animation: 1s multicolor;
    transform: scale(1.04);
    transition: 0.2s ease;
    animation-iteration-count: infinite;
  }
  
  h4 {
    color: #b8207c;
    font-family: 'Source Code Pro', monospace;
    font-weight: light;
    cursor: context-menu;
  }
  
  h5 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    z-index: 5;
    color: azure;
    cursor: context-menu;
  }
  
  h6 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    z-index: 5;
    cursor: context-menu;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-family: 'Source Code Pro', monospace;
    color: white;
  }
  
  /* END FONTS */
  
  /* FOOTER */
  
  footer {
    background-color: black;
    border-top: 1px solid;
    border-color: #b8207c;
  }
  
  img.icons {
    filter: grayscale(8);
    opacity: 0.5;
  }
  
  img.icons:hover {
    filter: none;
    opacity: 1;
    transform: 1.03;
    transition: 0.2s ease;
  }
  
  /* END FOOTER */
  
  /* KEYFRAMES & MEDIA */
  
  @keyframes multicolor {
    0% {
      color: #2474fe;
    }
    33% {
      color: #4aae7c;
    }
    66% {
      color: #b8207c;
    }
    100% {
      color: #d0643e;
    }
  }
  
  @media (max-width: 767px) {
    h1 {
      font-family: "Aclonica", sans-serif;
      z-index: 5;
      font-size: 25px;
      color: azure;
    }
    h5 {
      font-family: "Aclonica", sans-serif;
      font-size: 15px;
      z-index: 5;
      color: azure;
    }
  
    h6 {
      font-family: "Aclonica", sans-serif;
      font-size: 20px;
      z-index: 5;
    }
  
    .btn-lrg {
      margin: 0;
    }
  
    #burger {
      z-index: 10;
      display: block;
      position: absolute;
      right: 10vw;
      bottom: 6vh;
      cursor: pointer;
    }
  
    #menuitems {
      visibility: hidden;
    }
  }
  
  @media (max-width: 1600px) {
    #videoMessage2 {
      position: absolute;
      top: 12vh;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  
  @media (max-width: 1225px) {
    .myimage {
      display: none;
    }
  }
  
  /* END KEYFRAMES & MEDIA */
  